body    {
    background-color: #2F3035;
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20%;
    background-blend-mode: multiply;
}

#logo-image {
    /* opacity: 0.40; */
}

.container  {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.main-header    {
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(235, 235, 235, 0.5);
    text-align: center;
    padding-left: 140px;
    padding-right: 140px;
}

.main-p {
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgba(44, 59, 114, 0.95); */
    color: rgba(235, 235, 235, 0.5);
    /* color: black; */
    text-align: left;
    padding-left: 140px;
    padding-right: 140px;
}

header  {
    background-color: rgba(44,59,114, 0.65);
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.288);
    /* height: 40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main    {
    /* background-color: orange; */
    height: 400px;    
    text-align: center;
}

footer  {
    /* background-color: greenyellow; */
    /* height: 100px;  */
    background-color: rgba(0,0,0,0.0);
    text-align: center;
}





nav a   {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 22px;
    color: rgb(235, 235, 235, 0.5);
    
}

footer a    {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(235, 235, 235, 0.5);
}
